@{
    ViewData["Title"] = "Edit";
}
<h1>@ViewData["Title"]</h1>


<div class="signup-container">
    <form action="Profile" method="post"> 
    <input type="text" class="signup-input" placeholder="Name" id="name"><Br></Br>
    <input type="text" class="signup-input" placeholder="Email" id="email"><Br></Br>
    <input type="password" class="signup-input" placeholder="Password" id="password"><Br></Br>
    <button class="done-button">Done</button>
    </form>

</div>

