@{
    ViewData["Title"] = "Home";
}
<div class="hometop">
    <h1>@ViewData["Title"]</h1>
    <h1 class="display-4"> Let's find a new Trail </h1>
    
</div>

<div class="content">
    <div class="img">
        <img src="~/penanghill.jpg" alt="PenangHill" width="200px" height="200px"/>
    </div>

    <div class="description">
        <a href="https://localhost:7170/Home/Viewtrail ">Penang Hill Heritage Trail</a>
    </div>

    <div class="img">
        <img src="~/mengkuang.jpg" alt="Mengkuang Dam" width="200px" height="200px" />
    </div>

    <div class="description">
        <a href="https://localhost:7170/Home/Viewtrail ">Mengkuang Dam</a>
    </div>

    <a href="https://localhost:7170/Home/Trail ">Insert Trail</a><br />
</div>


